.elementor-12807 .elementor-element.elementor-element-41d96c6 > .elementor-container{min-height:530px;}.elementor-12807 .elementor-element.elementor-element-41d96c6:not(.elementor-motion-effects-element-type-background), .elementor-12807 .elementor-element.elementor-element-41d96c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#422468;background-image:url("../../2023/10/Recurso-4-1.png");background-position:center center;background-size:cover;}.elementor-12807 .elementor-element.elementor-element-41d96c6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-12807 .elementor-element.elementor-element-41d96c6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12807 .elementor-element.elementor-element-018b942:not(.elementor-motion-effects-element-type-background), .elementor-12807 .elementor-element.elementor-element-018b942 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EC068B;background-image:url("../../2023/09/calaverita-back_Mesa-de-trabajo-1.png");background-size:15% auto;}.elementor-12807 .elementor-element.elementor-element-018b942{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-12807 .elementor-element.elementor-element-018b942 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12807 .elementor-element.elementor-element-881eec8{--spacer-size:25px;}.elementor-12807 .elementor-element.elementor-element-b8e6558{text-align:center;}.elementor-12807 .elementor-element.elementor-element-b8e6558 .elementor-heading-title{color:#FFF4E2;font-family:"Rye", Sans-serif;font-size:40px;font-weight:800;}.elementor-12807 .elementor-element.elementor-element-0c49dce{--spacer-size:15px;}.elementor-12807 .elementor-element.elementor-element-ff209df > .elementor-widget-container{border-radius:10px 10px 10px 10px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-12807 .elementor-element.elementor-element-a009f8a{--spacer-size:50px;}.elementor-12807 .elementor-element.elementor-element-1f0f122 img{width:100%;max-width:100%;height:120px;}.elementor-12807 .elementor-element.elementor-element-cbbec88{--spacer-size:50px;}.elementor-12807 .elementor-element.elementor-element-710839c{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-12807 .elementor-element.elementor-element-710839c:not(.elementor-motion-effects-element-type-background), .elementor-12807 .elementor-element.elementor-element-710839c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;background-image:url("../../2023/10/Noche_de_Muertos_en_Janitzio%400.5x-1.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-12807 .elementor-element.elementor-element-710839c > .elementor-background-overlay{background-image:url("../../2023/10/marigold-leaves-01.png");background-position:center center;background-size:cover;opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12807 .elementor-element.elementor-element-710839c .elementor-background-overlay{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-12807 .elementor-element.elementor-element-a97a188{--spacer-size:150px;}.elementor-12807 .elementor-element.elementor-element-1ea6183{text-align:center;}.elementor-12807 .elementor-element.elementor-element-1ea6183 .elementor-heading-title{color:#FFFFFF;font-family:"Rye", Sans-serif;font-size:40px;font-weight:800;-webkit-text-stroke-color:#000;stroke:#000;text-shadow:0px 0px 10px rgba(0, 0, 0, 0.96);}.elementor-12807 .elementor-element.elementor-element-1f89daf{text-align:center;color:#FFFFFF;font-family:"Livvic", Sans-serif;font-size:23px;font-weight:normal;text-shadow:0px 0px 7px #000000;}.elementor-12807 .elementor-element.elementor-element-007352f{--spacer-size:150px;}.elementor-12807 .elementor-element.elementor-element-f02d444:not(.elementor-motion-effects-element-type-background), .elementor-12807 .elementor-element.elementor-element-f02d444 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0F0825;}.elementor-12807 .elementor-element.elementor-element-f02d444{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-12807 .elementor-element.elementor-element-f02d444 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12807 .elementor-element.elementor-element-609b5dc{--spacer-size:25px;}.elementor-12807 .elementor-element.elementor-element-74dce6e{text-align:center;}.elementor-12807 .elementor-element.elementor-element-74dce6e .elementor-heading-title{color:#FFC001;font-family:"Rye", Sans-serif;font-size:40px;font-weight:900;}.elementor-12807 .elementor-element.elementor-element-c2f40ff{text-align:center;color:#FFEFC0;font-family:"Livvic", Sans-serif;font-size:23px;font-weight:bold;}.elementor-12807 .elementor-element.elementor-element-9cc8eba:not(.elementor-motion-effects-element-type-background), .elementor-12807 .elementor-element.elementor-element-9cc8eba > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FF8B18;}.elementor-12807 .elementor-element.elementor-element-9cc8eba{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-12807 .elementor-element.elementor-element-9cc8eba > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12807 .elementor-element.elementor-element-60e79c7{--spacer-size:25px;}.elementor-12807 .elementor-element.elementor-element-d26c75d{text-align:center;}.elementor-12807 .elementor-element.elementor-element-d26c75d .elementor-heading-title{color:#FFEFC0;font-family:"Rye", Sans-serif;font-size:40px;font-weight:800;-webkit-text-stroke-color:#000;stroke:#000;}.elementor-12807 .elementor-element.elementor-element-ac169d6{text-align:center;color:#784318;font-family:"Livvic", Sans-serif;font-size:23px;font-weight:bold;}.elementor-12807 .elementor-element.elementor-element-1ddc6fe:not(.elementor-motion-effects-element-type-background), .elementor-12807 .elementor-element.elementor-element-1ddc6fe > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-12807 .elementor-element.elementor-element-1ddc6fe{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-12807 .elementor-element.elementor-element-1ddc6fe > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12807 .elementor-element.elementor-element-3b741f9{--spacer-size:25px;}.elementor-12807 .elementor-element.elementor-element-6f5dd90{text-align:center;}.elementor-12807 .elementor-element.elementor-element-6f5dd90 .elementor-heading-title{color:var( --e-global-color-accent );font-family:"Rye", Sans-serif;font-size:40px;font-weight:800;}.elementor-12807 .elementor-element.elementor-element-16e2858{--spacer-size:25px;}.elementor-12807 .elementor-element.elementor-element-b38094e .elementor-image-carousel-caption{text-align:center;}.elementor-12807 .elementor-element.elementor-element-da05968 .elementor-image-carousel-caption{text-align:center;}.elementor-12807 .elementor-element.elementor-element-5db98fd .elementor-image-carousel-caption{text-align:center;}.elementor-12807 .elementor-element.elementor-element-1b737b6 .elementor-image-carousel-caption{text-align:center;}.elementor-12807 .elementor-element.elementor-element-f5b9108 .elementor-image-carousel-caption{text-align:center;}.elementor-12807 .elementor-element.elementor-element-45d28a1 .elementor-image-carousel-caption{text-align:center;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-filterable-gallery-item-wrap .eael-gallery-grid-item .gallery-item-thumbnail-wrap{height:300px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .gallery-item-caption-wrap{transition:500ms;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-filterable-gallery-loadmore{text-align:center;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-filter-gallery-wrapper{background-color:#fff;border-radius:0px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-filter-gallery-control ul li.control{color:#444;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-filter-gallery-control ul > li.control{border-radius:0px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-filter-gallery-control ul li.active{color:#fff;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-filter-gallery-control ul li.control.active{background:#333;border-radius:0px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-filterable-gallery-item-wrap .eael-gallery-grid-item{border-radius:0px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .gallery-item-caption-wrap .gallery-item-hoverer-bg{background-color:#F900FDB3;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .gallery-item-caption-wrap.caption-style-hoverer .fg-item-title{color:#ffffff;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .gallery-item-caption-wrap.caption-style-hoverer .fg-item-content{color:#ffffff;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .video-popup-bg{background-color:rgba(0, 0, 0, .7);}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .video-popup:hover > img{transform:scale(1.1);}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .gallery-item-caption-wrap .gallery-item-buttons > a span{background:#ff622a;color:#fff;height:50px;line-height:50px;width:50px;font-size:18px;border-radius:100px;transition:300ms;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .gallery-item-caption-wrap .gallery-item-buttons > a span img{height:18px;width:18px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .gallery-item-caption-wrap .gallery-item-buttons > a span:hover{background:#ff622a;color:#fff;border-radius:100px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-gallery-load-more{background-color:var( --e-global-color-accent );color:#fff;border-radius:5px 5px 5px 5px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-gallery-load-more .eael-filterable-gallery-load-more-text{font-family:"Livvic", Sans-serif;font-weight:600;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-gallery-load-more .eael-filterable-gallery-load-more-icon{font-size:15px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-gallery-load-more img.eael-filterable-gallery-load-more-icon{height:15px;width:15px;}.elementor-12807 .elementor-element.elementor-element-c2dbd2f .eael-gallery-load-more:hover{background-color:#29B3B7;color:#FFFFFF;}.elementor-12807 .elementor-element.elementor-element-4d1a0dd{--spacer-size:50px;}@media(min-width:1025px){.elementor-12807 .elementor-element.elementor-element-710839c > .elementor-background-overlay{background-attachment:scroll;}}/* Start custom CSS for image-carousel, class: .elementor-element-0f0a7ba */.elementor-lightbox-image::before {
  content: "Look at this orange box.";
  background-color: #ffba10;
  border-color: black;
  border-style: dotted;
}/* End custom CSS */
/* Start custom CSS */.st0{fill:none;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#71BEE8;}
	.st3{fill:#62A3C1;}
	.st4{fill:#9FD3F0;}
	.st5{fill:#8DCBED;}
	.st5:hover{stroke:#ffd342;
	stroke-width: 4px;
	transition: all .5s;}
	.st6{fill:#844914;}
	.st7{fill:#DBC08F;}
	.st8{opacity:0.5;}
	.st9{fill:url(#SVGID_00000181054404638490356650000011091657858221190818_);}
	.st10{fill:url(#SVGID_00000061449528828709091700000015586175966178479774_);}
	.st11{fill:#CDBEE4;}
	.st12{fill:#FFF8EE;}
	.st13{fill:#20012B;}
	.st14{fill:#C03B8C;}
	.st15{fill:#947DD7;}
	.st16{fill:#634B9E;}
	.st17{fill:#821459;}
	.st18{fill:#107B7B;}
	.st19{fill:#1F9CC0;}
	.st20{fill:#FF421B;}
	.st21{fill:#FF8200;}
	.st22{fill:#FCA900;}
	.st23{fill:#F9DB00;}
	.st24{fill:#9C39BC;}
	.st25{fill:#DD1B82;}
	.st26{fill:url(#SVGID_00000087394193846254889760000007327563987848044724_);}
	.st27{fill:url(#SVGID_00000033357136686148638280000016307910233676991402_);}
	.st28{fill:url(#SVGID_00000083778410125164236330000014467694307575606195_);}
	.st29{fill:url(#SVGID_00000119092154319739269080000013505291934433856141_);}
	.st30{fill:url(#SVGID_00000098933513494099425830000015724538355977457062_);}
	.st31{fill:url(#SVGID_00000005957570041684861890000001114699223200747711_);}
	.st32{fill:url(#SVGID_00000166653516911676339990000003756249685227760041_);}
	.st33{fill:url(#SVGID_00000023276083273945409170000012210458890115683490_);}
	.st34{fill:url(#SVGID_00000009552554661629544930000002196212995685639815_);}
	.st35{fill:url(#SVGID_00000084500094234884834400000006506768448260308151_);}
	.st36{fill:url(#SVGID_00000039827217026559963270000015901039784826635659_);}
	.st37{fill:url(#SVGID_00000075857666957058411660000016842512700902648250_);}
	.st38{fill:url(#SVGID_00000011727114013493647990000000743455268857396653_);}
	.st39{fill:url(#SVGID_00000183944434404702556740000001816813334839922860_);}
	.st40{fill:url(#SVGID_00000054986887624368146430000006740994780892243645_);}
	.st41{fill:url(#SVGID_00000048470004319965627030000010225692159878203046_);}
	.st42{fill:url(#SVGID_00000155145140927578902610000005022636271587952541_);}
	.st43{fill:url(#SVGID_00000003077137883979683810000011063874466650054063_);}
	.st44{fill:url(#SVGID_00000117667152704651684240000010774099502635571381_);}
	.st45{fill:url(#SVGID_00000080179630372669255400000004973735502651056830_);}
	.st46{fill:url(#SVGID_00000141414769620685683610000004282285343654396045_);}
	.st47{fill:url(#SVGID_00000083069475134434796390000011682323600552793760_);}
	.st48{fill:url(#SVGID_00000033360765310097899520000015402297636495151248_);}
	.st49{fill:url(#SVGID_00000177458094606354187560000014266361475362540687_);}
	.st50{fill:url(#SVGID_00000112630477172932908890000009735572696067083679_);}
	.st51{fill:url(#SVGID_00000146470614284118045490000015560854532985559432_);}
	.st52{fill:url(#SVGID_00000009559153916575644760000009674311034612918439_);}
	.st53{fill:url(#SVGID_00000031165656777597673990000012345975493824970667_);}
	.st54{fill:url(#SVGID_00000041297387255782978950000007191518179654363581_);}
	.st55{fill:url(#SVGID_00000172410317824344567790000016703816599706343594_);}
	.st56{fill:url(#SVGID_00000002368696432703644210000008659914785595952524_);}
	.st57{fill:url(#SVGID_00000122002452349986353580000017728420570148252590_);}
	.st58{fill:url(#SVGID_00000168096350761913380300000000183237523604713913_);}
	.st59{fill:url(#SVGID_00000126309927629083963280000007658480697687006873_);}
	.st60{fill:url(#SVGID_00000055697690408232264440000013181273730159882903_);}
	.st61{fill:url(#SVGID_00000090271829401655289990000000723332094126848907_);}
	.st62{fill:url(#SVGID_00000156553379505399140120000000808302617119346365_);}
	.st63{fill:url(#SVGID_00000152978609550565805710000005660138346645383860_);}
	.st64{fill:url(#SVGID_00000097483822789149703570000004534206929283594912_);}
	.st65{fill:url(#SVGID_00000151516671628471402460000007640564155280106653_);}
	.st66{fill:#B1B9BB;}
	.st67{fill:#9DA4A6;}
	.st68{fill:#E0E1E3;}
	.st69{fill:#FFD863;}
	.st70{fill:#C2C7C9;}
	.st71{fill:#FFE3A2;}
	.st72{fill:#FFF0D1;}
	.st73{fill:#FCC94A;}
	.st0{fill:#71BEE8;}
	.st1{fill:#62A3C1;}
	.st2{fill:#9FD3F0;}
	.st3{fill:#8DCBED;}
	.st4{fill:#F48B1E;}
	.st5{fill:#FFAA00;}
	.st6{fill:#7B9C5B;}
	.st7{fill:#457D3A;}
	.st8{fill:#E38635;}
	.st9{fill:#FFA84C;}
	.st10{fill:#CDBEE4;}
	.st11{fill:#FFF8EE;}
	.st12{fill:#20012B;}
	.st13{fill:#C03B8C;}
	.st14{fill:#947DD7;}
	.st15{fill:#634B9E;}
	.st16{fill:#821459;}
	.st17{fill:#107B7B;}
	.st18{fill:#1F9CC0;}
	.st19{fill:#6B3ACF;}
	.st20{fill:#600B61;}
	.st21{fill:#681B83;}
	.st22{fill:#66167C;}
	.st23{fill:#621279;}
	.st24{fill:#5E0965;}
	.st25{fill:#672496;}
	.st26{fill:#600865;}
	.st27{fill:#6C2B9F;}
	.st28{fill:#60096E;}
	.st29{fill:#620D70;}
	.st30{fill:#5E0865;}
	.st31{fill:#CB0000;}
	.st32{fill:#4FC5C6;}
	.st33{fill:#F4D300;}
	.st34{fill:#F2D202;}
	.st35{fill:#F3D301;}
	.st36{fill:#FCFCFD;}
	.st37{fill:#FCFCFC;}
	.st38{fill:#FCFBFC;}
	.st39{fill:#FDFCFC;}
	.st40{fill:#FCFBFD;}
	.st41{fill:#FDFBFD;}
	.st42{fill:#F3D201;}
	.st43{fill:#FDFCFD;}
	.st44{fill:#F2D301;}
	.st45{fill:#FBFAFB;}
	.st46{fill:#FDFBFC;}
	.st47{fill:#FCFAFB;}
	.st48{fill:#FBFBFB;}
	.st49{fill:#FCFBFB;}
	.st50{fill:#FAF6FC;}
	.st51{fill:#F9F5FC;}
	.st52{fill:#F8F3F9;}
	.st53{fill:#F9F5FB;}
	.st54{fill:#F6EFFC;}
	.st55{fill:#F7F0FC;}
	.st56{fill:#F4EDFC;}
	.st57{fill:#F6F2FA;}
	.st58{fill:#F7F2FB;}
	.st59{fill:#F7F3FA;}
	.st60{fill:#F4EEFC;}
	.st61{fill:#F7F2FA;}
	.st62{fill:#F6F2F9;}
	.st63{fill:#F6F2F8;}
	.st64{fill:#F5EFF9;}
	.st65{fill:#F2EAFB;}
	.st66{fill:#F2EBFB;}
	.st67{fill:#F1E9FC;}
	.st68{fill:#F1EAFA;}
	.st69{fill:#E9DFF6;}
	.st70{fill:#EEE6F8;}
	.st71{fill:#F5EFFC;}
	.st72{fill:#F5EFFB;}
	.st73{fill:#F2E8FD;}
	.st74{fill:#F4EBFA;}
	.st75{fill:#F4EBF9;}
	.st76{fill:#F3D9CA;}
	.st77{fill:#DAB19A;}
	.st78{fill:#F3E4FB;}
	.st79{fill:#F8EAE1;}
	.st80{fill:#F3E3FC;}
	.st81{fill:#835D36;}
	.st82{fill:#856031;}
	.st83{fill:#5265D1;}
	.st84{fill:#5367CB;}
	.st85{fill:#754962;}
	.st86{fill:#7E51B2;}
	.st87{fill:#7B51B7;}
	.st88{fill:#4A8FCB;}
	.st89{fill:#744960;}
	.st90{fill:#6E4B67;}
	.st91{fill:#EAC660;}
	.st92{fill:#7C3399;}
	.st93{fill:#6346A7;}
	.st94{fill:#4C7ECF;}
	.st95{fill:#754782;}
	.st96{fill:#77448B;}
	.st97{fill:#7C4C81;}
	.st98{fill:#764881;}
	.st99{fill:#E3C275;}
	.st100{fill:#AF1743;}
	.st101{fill:#D5A7AB;}
	.st102{fill:#C595B2;}
	.st103{fill:#764959;}
	.st104{fill:#D2ABA4;}
	.st105{fill:#6744A5;}
	.st106{fill:#6547A1;}
	.st107{fill:#4A91C6;}
	.st108{fill:#6C4EA7;}
	.st109{fill:#4982CB;}
	.st110{fill:#4A83CC;}
	.st111{fill:#4C87CD;}
	.st112{fill:#6E448F;}
	.st113{fill:#9B70BC;}
	.st114{fill:#BA8EB2;}
	.st115{fill:#6546A5;}
	.st116{fill:#73496C;}
	.st117{fill:#4C84CF;}
	.st118{fill:#4E94D5;}
	.st119{fill:#F8E5C2;}
	.st120{fill:#F6E3C0;}
	.st121{fill:#F7E3BE;}
	.st122{fill:#F8C6B6;}
	.st123{fill:#901C11;}
	.st124{fill:#F3D3B1;}
	.st125{fill:#90150D;}
	.st126{fill:#E1B899;}
	.st127{fill:#8276C0;}
	.st128{fill:#75CD7F;}
	.st129{fill:#CE7600;}
	.st130{fill:#F8D3B0;}
	.st131{fill:#FD9F48;}
	.st132{fill:#994C2B;}
	.st133{fill:#632C2C;}
	.st134{opacity:0.25;fill:#632C2C;enable-background:new    ;}
	.st135{fill:#FFFFFF;}
	.st136{fill:#F0CEB1;}
	.st137{opacity:0.25;fill:#D3865A;enable-background:new    ;}
	.st138{fill:#BF7769;}
	.st139{fill:#A1564C;}
	.st140{opacity:0.25;fill:#A1564C;enable-background:new    ;}
	.st141{fill:#FF421B;}
	.st142{fill:#FF8200;}
	.st143{fill:#FCA900;}
	.st144{fill:#F9DB00;}
	.st145{fill:#FDF6EC;}
	.st146{fill:#9C39BC;}
	.st147{fill:none;}
	.st148{fill:#FFB2B2;}
	.st149{fill:#CE4A00;}
	.st150{opacity:0.37;fill:#FEA12F;enable-background:new    ;}
	.st151{fill:#69A253;}
	.st152{fill:#E22561;}
	.st153{opacity:0.5;fill:#E22561;enable-background:new    ;}
	.st154{fill:#E98859;}
	.st155{fill:#23B8AF;}
	.st156{fill:#6B290D;}
	.st157{fill:#E2DED3;}
	.st158{fill:#D5CBB8;}
	.st159{fill:#5E2007;}
	.st160{fill:#391505;}
	.st161{fill:none;stroke:#302F35;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st162{opacity:0.64;fill:#FFFFFF;enable-background:new    ;}
	.st163{fill:#F1FCFF;}
	.st164{fill:#55EBFF;}
	.st165{fill:#FDF5DE;}
	.st166{fill:#FFD19F;}
	.st167{fill:#BF2222;}
	.st168{fill:#DD1B82;}
	.st169{fill:url(#SVGID_1_);}
	.st170{fill:url(#SVGID_00000009556145047372873470000010180125129120219070_);}
	.st171{fill:url(#SVGID_00000045582532749019547820000013115730316653777580_);}
	.st172{fill:url(#SVGID_00000177459267841052221020000008648468359986696121_);}
	.st173{fill:url(#SVGID_00000125580450918179933770000012067589860153618083_);}
	.st174{fill:url(#SVGID_00000151518279434315579970000017839997455848298401_);}
	.st175{fill:url(#SVGID_00000008834109002837095280000004692742703314126241_);}
	.st176{fill:url(#SVGID_00000152255040897344083030000009450635433643301797_);}
	.st177{fill:#EF7E0C;}
	.st178{fill:#A8A414;}
	.st179{fill:#442C1B;}
	.st180{fill:#DDC622;}
	.st181{fill:#CEB41B;}
	.st182{fill:#B7B71A;}
	.st183{fill:#F6E52D;}
	.st184{fill:#FFE843;}
	.st185{fill:#C9CD21;}
	.st186{fill:#844C23;}
	.st187{fill:#FFE15D;}
	.st188{fill:#FF9D1E;}
	.st189{fill:#973300;}
	.st190{clip-path:url(#SVGID_00000046338099822872512200000001871848517381270953_);fill:#CA6633;}
	.st191{clip-path:url(#SVGID_00000130629484037095332750000005691042596920850613_);fill:#CA6633;}
	.st192{clip-path:url(#SVGID_00000083074305105407565440000015105450603385935531_);fill:#CA6633;}
	.st193{clip-path:url(#SVGID_00000150093161969275714770000014260037847475474836_);fill:#CA6633;}
	.st194{clip-path:url(#SVGID_00000019666394966970563870000003390527446424937347_);fill:#CA6633;}
	.st195{clip-path:url(#SVGID_00000021107931689076272260000010858214312247312258_);fill:#CA6633;}
	.st196{clip-path:url(#SVGID_00000013897688470656729890000007103877248567508920_);fill:#CA6633;}
	.st197{clip-path:url(#SVGID_00000008144000140724055580000016655160460925700030_);fill:#CA6633;}
	.st198{fill:url(#SVGID_00000106860489201760986370000016491688393013971073_);}
	.st199{fill:url(#SVGID_00000008149906608095895970000011786371080599546518_);}
	.st200{fill:url(#SVGID_00000145029900214181988800000006862631548522173834_);}
	.st201{fill:url(#SVGID_00000036231425214859275510000015414273580728027791_);}
	.st202{fill:url(#SVGID_00000060709815398804762500000006752779913161480873_);}
	.st203{fill:url(#SVGID_00000056426520444421288900000002722306225151261080_);}
	.st204{fill:url(#SVGID_00000047739865062764950660000003628081836175829894_);}
	.st205{fill:url(#SVGID_00000134956232893320028360000012421569070301327769_);}
	.st206{fill:#B66100;}
	.st207{clip-path:url(#SVGID_00000178926063526803758060000010826811585258776207_);fill:#FD9F48;}
	.st208{clip-path:url(#SVGID_00000022533593840414393330000017965789718332269484_);fill:#F8D3B0;}
	.st209{clip-path:url(#SVGID_00000167362529118790925660000013510540084711378088_);fill:#F8D3B0;}
	.st210{clip-path:url(#SVGID_00000118357493903261704320000012136302919220779417_);fill:#FD9F48;}
	.st211{clip-path:url(#SVGID_00000046311908383690070330000018114785692074913950_);fill:#F8D3B0;}
	.st212{clip-path:url(#SVGID_00000099662487624831549870000014437072677707703957_);fill:#FD9F48;}
	.st213{clip-path:url(#SVGID_00000000904932635216338820000007716421854262267540_);fill:#F8D3B0;}
	.st214{clip-path:url(#SVGID_00000147205649442630107140000017040084912776239525_);fill:#FD9F48;}
	.st215{clip-path:url(#SVGID_00000059988241050118917640000013554470192369770645_);fill:#B66100;}
	.st216{clip-path:url(#SVGID_00000090286750663209565500000016701859342172168874_);fill:#F8D3B0;}
	.st217{clip-path:url(#SVGID_00000088822190331788739770000002342831342357621909_);fill:#FD9F48;}
	.st218{clip-path:url(#SVGID_00000148644067570355180270000003365568627741639334_);fill:#F8D3B0;}
	.st219{clip-path:url(#SVGID_00000087372580406389361420000000559385580791828919_);fill:#FD9F48;}
	.st220{clip-path:url(#SVGID_00000108301948637571019630000001912457951331119283_);fill:#B66100;}
	.st221{clip-path:url(#SVGID_00000104693928911267804480000011198315062950014085_);fill:#F8D3B0;}
	.st222{clip-path:url(#SVGID_00000170995158684584000920000000901599763768107169_);fill:#FD9F48;}
	.st223{clip-path:url(#SVGID_00000133503822094147211520000006269756425312917182_);fill:#F8D3B0;}
	.st224{clip-path:url(#SVGID_00000046311598847926198880000013904456754650267569_);fill:#FD9F48;}
	.st225{clip-path:url(#SVGID_00000142172412674076841600000013867425713269297027_);fill:#B66100;}
	.st226{clip-path:url(#SVGID_00000085971962772386140210000008294571192436931968_);fill:#F8D3B0;}
	.st227{clip-path:url(#SVGID_00000008122781347427479740000000079828987117811082_);fill:#FD9F48;}
	.st228{clip-path:url(#SVGID_00000142137040710661855800000011451277906272138399_);fill:#F8D3B0;}
	.st229{clip-path:url(#SVGID_00000124147296105427857700000011618390346636995224_);fill:#FD9F48;}
	.st230{clip-path:url(#SVGID_00000173881217900877184300000012149306749550165907_);fill:#B66100;}
	.st231{clip-path:url(#SVGID_00000063607957611607179570000013370639306169267628_);fill:#F8D3B0;}
	.st232{clip-path:url(#SVGID_00000134953863583429040030000001831685537815571332_);fill:#FD9F48;}
	.st233{clip-path:url(#SVGID_00000045606945872330472190000000036208505188712635_);fill:#F8D3B0;}
	.st234{clip-path:url(#SVGID_00000000916812121821720630000009646134221753959091_);fill:#FD9F48;}
	.st235{clip-path:url(#SVGID_00000049199614052621698270000012269000681053831064_);fill:#B66100;}
	.st236{clip-path:url(#SVGID_00000044866622248319132360000005991495789138241931_);fill:#F8D3B0;}
	.st237{clip-path:url(#SVGID_00000175286914424391977080000005781022235842621599_);fill:#FD9F48;}
	.st238{clip-path:url(#SVGID_00000062886035493605018420000011980589190848993970_);fill:#F8D3B0;}
	.st239{clip-path:url(#SVGID_00000170273193306708381420000005448843175221404596_);fill:#FD9F48;}
	.st240{clip-path:url(#SVGID_00000134242213911422327970000014317732836346135219_);fill:#B66100;}
	.st241{opacity:0.63;fill:url(#SVGID_00000171679065714594889500000007620046958116055186_);enable-background:new    ;}
	.st242{fill:url(#SVGID_00000164512389512001977570000017932116507430654644_);}
	.st243{fill:url(#SVGID_00000085933282317957346380000002982084444522165905_);}
	.st244{fill:url(#SVGID_00000010290822412753730990000007385850609652759956_);}
	.st245{fill:url(#SVGID_00000150086969598971876400000014349063026067869342_);}
	.st246{fill:url(#SVGID_00000127027330182865992340000008666727067885809030_);}
	.st247{fill:#B1B1B1;}
	.st248{fill:#474747;}
	.st249{fill:#212121;}
	.st250{opacity:0.63;fill:url(#SVGID_00000127045379240521704590000017016995538570850218_);enable-background:new    ;}
	.st251{fill:#FDAF6C;}
	.st252{fill:#1E0C0B;}
	.st253{opacity:0.59;fill:#FDAF6C;enable-background:new    ;}
	.st254{fill:#712729;}
	.st255{fill:#E78A57;}
	.st256{opacity:0.28;fill:#FDAF6C;enable-background:new    ;}
	.st257{fill:#864749;}
	.st258{fill:#D3865A;}
	.st259{clip-path:url(#SVGID_00000130628873316574218030000015252400536974066079_);fill:#BF7769;}
	.st260{clip-path:url(#SVGID_00000158716806282099469130000004279391270569256330_);}
	.st261{clip-path:url(#SVGID_00000031885885956769257330000006054720608567914424_);}
	.st262{opacity:0.5;clip-path:url(#SVGID_00000042010010849283052800000012504163607891120781_);fill:#BF7769;enable-background:new    ;}
	.st263{fill:#B1B9BB;}
	.st264{fill:#9DA4A6;}
	.st265{fill:#E0E1E3;}
	.st266{fill:#FFD863;}
	.st267{fill:#C2C7C9;}
	.st268{fill:#FFE3A2;}
	.st269{fill:#FFF0D1;}
	.st270{fill:#FCC94A;}
	.st271{fill:#FABD43;}
	.st272{fill:#31322D;}
	.st273{fill:#272823;}
	.st274{fill:#FABE33;}
	.st275{fill:#FFE695;}
	.st276{fill:#262722;}
	.st277{fill:#20201B;}
	.st278{fill:#F5A641;}
	.st279{fill:#FCCD61;}
	.st280{fill:#AB1714;}
	.st281{fill:#A11612;}
	.st282{fill:#BD1818;}
	.st283{fill:#981610;}
	.st284{fill:#C43324;}
	.st285{fill:#6C1102;}
	.st286{fill:#560C00;}
	.st287{fill:#FFF9E8;}
	.st288{fill:#FDE8D1;}
	.st289{fill:#FBD6C4;}
	.st290{fill:#2C2D28;}
	.st291{fill:#3F403A;}
	.st292{fill:#241128;}
	.st293{fill:#5EC4CA;}
	.st294{fill:#FD0055;}
	.st295{fill:#FCC404;}
	.st296{fill:#CBA065;}
	.st297{fill:#C7E2AA;}
	.st298{fill:#B9D398;}
	.st299{fill:#63A428;}
	.st300{fill:none;stroke:#B9D398;stroke-width:1;stroke-miterlimit:9.9999;}

	* {
		box-sizing: border-box;
	}

	body {
		color: #fff;
		font-family: Avenir, Calibri, sans-serif;
	}

	.active, .active:hover {
		stroke: 10px #fff !important;
	}

	#provinceInfo {
		position: absolute;
		top: 0;
		right: 0;
		width: 25%;
		background: rgba(0, 0, 0, 0.8);
		opacity: 0;
        pointer-events: none;		
		z-index: 100;
	}

	@media all and (max-width: 800px) {
		#provinceInfo {
			width: 60%;
		}
	}

	@media all and (max-width: 750px) {
		#provinceInfo {
			width: 100%;
			position: static;
			background: none;
		}

		#provinceInfo.show p {
			color: #000 !important;
			margin-bottom: 2rem;
		}
	}
	
	#provinceInfo.show {
		opacity: 1;
	}

	#provinceInfo h1 {
	    text-align: center;
		background: #E4007C;
		font-family: "Rye", Sans-Serif; 
		font-weight: 600;
		font-size: 150%;
		color: #FFF;
	}

	#provinceInfo p {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	#itemInfo {
		position: absolute;
		z-index: 100;
		top: 0;
		right: 0;
		width: 20%;
		background: rgba(0, 0, 0, .8);
		pointer-events: none;
		opacity: 0;
	}

	@media all and (max-width: 800px) {
		#itemInfo {
			width: 40%;
		}
	}

	@media all and (max-width: 750px) {
		#itemInfo {
			width: 100%;
			position: static;
			background: none;
		}

		#itemInfo.show p {
			color: #FFF !important;
			margin-bottom: 2rem;
		}
	}
	
	#itemInfo.show {
		opacity: 1;
	}

	#itemInfo h2 {
		background: #E4007C;
		font-family: "Rye", Sans-Serif;
		color: #fff;
		text-align: center;
		padding: 0.3rem;
		margin-top: -0.5rem;
		font-weight: 600;
		font-size: 1.2em;
	}

	#itemInfo p {
		margin-left: 1rem;
		margin-right: 1rem;
	}/* End custom CSS */