.elementor-8040 .elementor-element.elementor-element-326dc7f:not(.elementor-motion-effects-element-type-background), .elementor-8040 .elementor-element.elementor-element-326dc7f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-8040 .elementor-element.elementor-element-326dc7f{box-shadow:0px 9px 10px 0px rgba(0, 0, 0, 0.08);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8040 .elementor-element.elementor-element-326dc7f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8040 .elementor-element.elementor-element-326dc7f > .elementor-container{text-align:center;}.elementor-bc-flex-widget .elementor-8040 .elementor-element.elementor-element-7078eb6.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-8040 .elementor-element.elementor-element-7078eb6.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-8040 .elementor-element.elementor-element-7078eb6.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-8040 .elementor-element.elementor-element-9f3fdf9 img{width:60%;}.elementor-bc-flex-widget .elementor-8040 .elementor-element.elementor-element-9132ced.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-8040 .elementor-element.elementor-element-9132ced.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-8040 .elementor-element.elementor-element-3ee8016 .elementor-menu-toggle{margin:0 auto;}.elementor-bc-flex-widget .elementor-8040 .elementor-element.elementor-element-0eeb210.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-8040 .elementor-element.elementor-element-0eeb210.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-8040 .elementor-element.elementor-element-0eeb210.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-8040 .elementor-element.elementor-element-827da6d{width:30%;max-width:30%;}.elementor-8040 .elementor-element.elementor-element-ede4894 .elementor-nav-menu--dropdown .elementor-item, .elementor-8040 .elementor-element.elementor-element-ede4894 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Livvic", Sans-serif;font-weight:800;}.elementor-8040 .elementor-element.elementor-element-ede4894{width:41%;max-width:41%;}@media(min-width:768px){.elementor-8040 .elementor-element.elementor-element-7078eb6{width:20%;}.elementor-8040 .elementor-element.elementor-element-9132ced{width:61.962%;}.elementor-8040 .elementor-element.elementor-element-0eeb210{width:18%;}}@media(max-width:1024px){.elementor-8040 .elementor-element.elementor-element-9f3fdf9 img{width:100%;}}@media(max-width:767px){.elementor-8040 .elementor-element.elementor-element-9f3fdf9 img{width:61%;}}/* Start custom CSS for html, class: .elementor-element-827da6d *//* Dropdown Button */
.dropsrch {
  color: white;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropsearch {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-search {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-search div {
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-search a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropsearch:hover .dropdown-search {display: block;}/* End custom CSS */